.edit-foot{
    margin: 30px 0;
}

.com-item h1{
    font-size: 24px;
    text-align: start;
    margin: 0;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comment div:nth-child(2){
    border-bottom: 1px solid #E7E7E7;
}

.com-form fieldset{
    width: 100%;
}

.com-form fieldset button{
    width: 30%;
}

.com-form fieldset input{
    padding: 20px;
}

.com-form {
    padding: 0;
    display: block;
}

.com-item-prof{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.com-item-prof img{
    width: 7%;
}

.com-item-prof span{
    font-size: 24px;
}

.blog-main a {
    text-decoration: none;
}

.admin-tit h1{
    margin-bottom: 0;
}

.proff-img {
    width: 30%;
}

.proff-img img{
    width: 100%;
    border-radius: 100%;

}