.profile-main-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profile-menu-edit{
    margin: 0;
}

.profile-main-item h1{
    text-align: start;
    margin: 0;
}

.profile-main-item a{
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 13px;
    background-color: #00A2DC;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #00A2DC;
}

.profile-menu{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.profile-menu p {
    margin: 0;
}

.profile-menu i {
    margin-right: 5px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card h1{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
}

.profile-card p{
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
}

.profile-card a{
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 13px;
    background-color: #00A2DC;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #00A2DC;
}

.new-container form{
    width: 100%;
    align-items: flex-start;
}

.new-container .fieldset button{
    width: 20%;
}

.fieldset textarea{
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: 1px solid rgba(31, 31, 31, .1);
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
}

.new-text::placeholder{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.fieldset select option:first-child{
    display: none;
}

.fieldset select{
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: 1px solid rgba(31, 31, 31, .1);
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    color: #757575;
}


/* .custom-file-input {
    color: transparent;
} */
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Выберите картинку';
    display: inline-block;
    background: #FFF72F;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    outline: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 500;
}



.fieldset .custom-file-input{
    padding: 0;
    border: none;
}

.open-menu{
    display: block !important;
}

#burger-menu{
    position: absolute;
    bottom: -45%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
    right: 0;
    z-index: 10;
    display: none;
}

.burger-menu-item a, .burger-menu-item button{
    color: #000;
    background-color: #fff;
    text-align: start;
    border: none;
    padding: 13px;
    cursor: pointer;
}

.burger-menu-item button{
    color: #FF0000;
}


.main-item a {
    text-decoration: none;
}

.prof-main{
    margin-bottom: 0;
}

.admin-menu{
    display: flex;
    justify-content: space-between;
}

.user-list{
    display: block;
}

.user-list h1{
    margin-bottom: 30px;
}

.user-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.menu{
    display: flex;
    align-items: center;
}

.edit{
    /* display: block; */
    background-color: #00A2DC;
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.delete{
    display: block;
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 6px;
}

.edit_form .fieldset{
    margin-bottom: 15px;
}

.edit_form button{
    cursor: pointer;
}